@charset "utf-8";
body {
    background-color: darkgray;
}
div.conteiner {
    border: 2px solid blue;
    padding: 10px;
    display: grid;
    grid-template: 100px 100px 100px 100px / auto auto auto;
    place-items: center end;
    place-content: center space-evenly;
    gap: 5px;
    margin: 10px;
}
div.itens {
    border: 2px solid;
    height: 40px;
    width: 40px;
}
div.contein {
    height: 300px;
    padding: 10px;
    margin: 10px;
    display: grid;
    border: 2px solid blue;
    gap: 5px;
    grid-template: repeat(3,100px) / repeat(3, 1fr);
    place-items: center;
}
div.item {
    border: 2px solid;
    height: 40px;
    width: 40px;
}